<!DOCTYPE html>
<html lang="en">
<title>No Mas Accidentes</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="static/css/estilos.css" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>


    <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyBggk_9rw22cs0v7h4r91G5BO8V1oxTJxQ",
            authDomain: "nomasaccidentes-c8253.firebaseapp.com",
            projectId: "nomasaccidentes-c8253",
            storageBucket: "nomasaccidentes-c8253.appspot.com",
            messagingSenderId: "1082116732737",
            appId: "1:1082116732737:web:cbe7b92afd63649c3ed3c0"
        };
        firebase.initializeApp(firebaseConfig);

        let messaging = firebase.messaging();
        //ENLACE SERVICEWORKER
        navigator.serviceWorker
            .register('./serviceworker.js')
            .then(function (register) {
                messaging.useServiceWorker(register);
                //solicitud de permiso
                messaging.requestPermission()
                    .then(function () {
                        console.log("Notifiaciones aceptadas")
                        return messaging.getToken();

                    })

                    .then(function (token) {
                        console.log(token);
                        //enviar token

                        fetch('/guardar-token', {
                            method: 'post',
                            headers: {
                                'Content-Type': 'aplication/json',
                                'Accept': 'aplication/json'
                            },
                            body: JSON.stringify({
                                'token': token
                            })
                        })
                        .then(function(resultado){
                            console.log("se ha guardado token")
                        })
                        .catch(function(e){
                            console.log("Token no guardado")
                        })
                    })
                    .catch(function (e) {
                        console.log("No ha aceptado las notificaciones, porfavor de aceptarlas")
                    })
            })


        //Programacion de notifiaciones

        messaging.onMessage(function (payload) {

            let title = 'Titulo Notificacion';

            let options = {
                body: "Mensaje",
                icon: 'static/img/Isotipo.png',
            }

            let mensaje = new Notification(title, options);

        });
    </script>

</head>

<body>

    <!-- Menu Lateral -->
    <nav class="w3-sidebar w3-light-blue w3-collapse w3-top w3-large w3-padding"
        style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
            style="width:100%;font-size:22px">Cerrar Menú</a>
        <div class="w3-container">
            <h3 class="w3-padding-64"><b>Menú<br>Principal</b></h3>
        </div>
        <div class="w3-bar-block">
            <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Inicio</a>
            <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Quienes Somos</a>
            <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Nuestros Servicios</a>
            <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contacto</a>
            <a href="#ubi" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Ubicación</a>
            <button onclick="document.getElementById('id01').style.display='block'"
                class="w3-bar-item w3-button w3-hover-white">Acceso Clientes</button>
            <!--INICIO DESPLEGABLE-->
            <div class="w3-container">
                <div id="id01" class="w3-modal">
                    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                        <div class="w3-center"><br>

                            <span onclick="document.getElementById('id01').style.display='none'"
                                class="w3-button w3-xlarge w3-transparent w3-display-topright"
                                title="Close Modal">×</span>

                            <img src="static/img/Isotipo.png" alt="Avatar" style="width:30%"
                                class="w3-circle w3-margin-top">
                        </div>

                        <form class="w3-container" action="{% url 'LoginWSCli' %}" id="login" method="post">
                            <div class="w3-section">
                                {% csrf_token %}
                                <label><b>Nombre Usuario</b></label>
                                <input class="w3-input w3-border w3-margin-bottom" name="txtuser" id="txtuser"
                                    required="obligatorio" placeholder="Ingrese su nombre de usuario">
                                <label><b>Contraseña</b></label>
                                <input class="w3-input w3-border" type="password" name="txtpassword" id="txtpassword"
                                    required="obligatorio" placeholder="Ingrese su contraseña">
                                <button class="w3-button w3-block w3-light-blue w3-section w3-padding"
                                    type="submit">Ingresar</button>
                            </div>
                        </form>
                        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                            <button onclick="document.getElementById('id01').style.display='none'" type="button"
                                class="w3-button w3-light-grey">Cancelar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--fin de inicio desplegable-->
        </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-light-blue w3-xlarge w3-padding">
        <a href="javascript:void(0)" class="w3-button w3-light-blue w3-margin-right" onclick="w3_open()">☰</a>
        <span>No Mas Accidentes</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <!-- !CONTENIDO DE LA PAGINA! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo"><b>Bienvenido</b></h1>
            <h1 class="w3-xxxlarge w3-text-black"><b> </b></h1>
            <img src="static/img/Logotipo.png" style="width: 100%;">
            <hr style="width:50px;border:5px solid #638ab2" class="w3-round">
        </div>

        <!-- Photo grid (modal) -->
        <div class="w3-row-padding">
            <div class="w3-half">
                <img src="static/img/slider1.jpg" style="width:100%" onclick="onClick(this)" alt=" ">
                <img src="static/img/slider2.jpg" style="width:100%" onclick="onClick(this)" alt=" ">
            </div>

            <div class="w3-half">
                <img src="static/img/slider3.jpg" style="width:100%" onclick="onClick(this)" alt=" ">
                <img src="static/img/slider4.jpg" style="width:100%" onclick="onClick(this)" alt=" ">

            </div>
        </div>

        <!-- Modal for full size images on click-->
        <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
            <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
            <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption"></p>
            </div>
        </div>

        <!-- Equipo -->
        <div class="w3-container" id="team" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-blue"><b>Quienes Somos</b></h1>
            <hr style="width:50px;border:5px solid #638ab2" class="w3-round">
            <p><b>Somos un grupo de profesionales especializados en el área de Prevención de Riesgos Laborales,
                    quienes preocupados por el alza de accidentabilidad en las empresas, quisimos ayudar a tomar
                    las medidas necesarias para proteger la vida y salud de los trabajadores.</b></p>
            <p><b>Debido a los altos costos que representa la contratación de asesorías externas, es que muchas
                    de las empresas optan por no implementar estas medidas, lo que posteriormente se traduce en
                    multas, días perdidos por accidentes baja producción, alzas en el pago de cotizaciones e
                    incluso demandas de parte de los trabajadores o sus familias.</b></p>
            <p><b>El servicio que ofrecemos como compañía, pretende ofrecer una solución completa en prevención
                    de riesgos, a un precio razonable, pero cumpliendo estrictamente todos los procesos necesarios
                    que se estipulan en la normativa vigente, mejorando los ambientes de trabajo, la productividad
                    y contribuyendo a un ahorro económico.</b></p>
        </div>

        <!-- Imagenes Equipo -->
        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="static/img/Alan.jpg" alt="Alan" style="width:100%">
                    <div class="w3-container">
                        <h3>Alan Concha</h3>
                        <p class="w3-opacity">Gerente General / Fundador</p>
                        <p>Ingeniero en Prevención de Riesgos</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="static/img/Jeanette.jpg" alt="Jeanette" style="width:100%">
                    <div class="w3-container">
                        <h3>Jeanette Campos</h3>
                        <p class="w3-opacity">Sub Gerenta / Fundadora</p>
                        <p>Ingeniera en Prevención de Riesgos</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="static/img/Moises.jpg" alt="Moises" style="width:100%">
                    <div class="w3-container">
                        <h3>Moisés Garrido</h3>
                        <p class="w3-opacity">Encargado de RR.HH / Fundador</p>
                        <p>Ingeniero en Prevención de Riesgos</p>
                    </div>
                </div>
            </div>
            <div class="w3-light-grey">
                <img src="static/img/equipo.jpg" style="width: 100%;">
            </div>
        </div>

        <!-- Nuestros Servicios -->
        <div class="w3-container" id="packages" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-blue"><b>Nuestros Servicios</b></h1>
            <hr style="width:50px;border:5px solid #638ab2" class="w3-round">
            <h4 style="text-align:center;">Todos nuestros planes han sido cuidadosamente desarrollados para estar acorde
                a las
                necesidades de su empresa</h4>
        </div>

        <div class="w3-row-padding">
            <div class="w3-half w3-margin-bottom">
                <ul class="w3-ul w3-light-grey w3-center">
                    <li class="w3-blue w3-xlarge w3-padding-32">PLAN ANUAL</li>
                    <li class="w3-padding-16"><b>2 visitas mensuales (revisar documentación, condiciones de seguridad en
                            terreno)</b></li>
                    <li class="w3-padding-16"><b>10 asesorías en caso de accidente (interacción con fiscalizador,
                            gestión de accidentes,<br> propuestas de mejora, verificación de implementación de
                            mejoras)</b></li>
                    <li class="w3-padding-16"><b>2 capacitaciones al año (cada 6 meses)</b></li>
                    <li class="w3-padding-16"><b>Reportes de las gestiones realizadas para control y seguimiento</b>
                    </li>
                    <li class="w3-padding-16"><b>Centro de llamados disponible de lunes a viernes de 9:00 a 18:00
                            horas</b></li>
                    <li class="w3-padding-16">
                        <h2>$250.000 MENSUAL </h2>
                        <span class="w3-opacity"><b>O PAGO ÚNICO DE $2.400.000 (20% dscto)</b></span>
                    </li>
                </ul>
            </div>

            <div class="w3-half">
                <ul class="w3-ul w3-light-grey w3-center">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">PLAN SEMESTRAL</li>
                    <li class="w3-padding-16"><b>2 visitas mensuales (revisar documentación, condiciones de seguridad en
                            terreno)</b></li>
                    <li class="w3-padding-16"><b>5 asesorias en caso de accidente (interacción con fiscalizador, gestión
                            de accidentes,<br> propuestas de mejora, verificacion de implementacion de mejoras)</b></li>
                    <li class="w3-padding-16"><b>Reportes de las gestiones realizadas para control y seguimiento</b>
                    </li>
                    <li class="w3-padding-16"><b>1 capacitación (agendable después de los 3 primeros meses)</b></li>
                    <li class="w3-padding-16"><b>Centro de llamados disponible de lunes a viernes de 9:00 a 18:00
                            horas</b></li>
                    <li class="w3-padding-16">
                        <h2>$200.000 MENSUAL</h2>
                        <span class="w3-opacity"><b>O PAGO ÚNICO DE $1.080.000 (10% dscto)</b></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-half w3-margin-bottom">
                <ul class="w3-ul w3-light-grey w3-center">
                    <li class="w3-dark-grey w3-xlarge w3-padding-32">PLAN TRIMESTRAL</li>
                    <li class="w3-padding-16"><b>1 visita mensual (revisar documentación, condiciones de seguridad en
                            terreno)</b></li>
                    <li class="w3-padding-16"><b>3 asesorias en caso de accidente (interacción con fiscalizador, gestión
                            de accidentes,<br> propuestas de mejora, verificacion de implementacion de mejoras)</b></li>
                    <li class="w3-padding-16"><b>Reportes de las gestiones realizadas para control y seguimiento</b>
                    </li>
                    <li class="w3-padding-16"><b>Centro de llamados disponible de lunes a viernes de 9:00 a 18:00
                            horas</b></li>
                    <li class="w3-padding-16">
                        <h2>$180.000 MENSUAL</h2>
                        <span class="w3-opacity"><b>O PAGO ÚNICO DE $486.000 (10% dscto)</b></span>
                    </li>
                </ul>
            </div>

            <div class="w3-half">
                <ul class="w3-ul w3-light-grey w3-center">
                    <li class="w3-blue w3-xlarge w3-padding-32">SERVICIOS ADICIONALES</li>
                    <li class="w3-padding-32">
                        <h3>Visitas: $50.000</h3>
                    </li>
                    <li class="w3-padding-32">
                        <h3>Capacitaciones: $75.000 (hasta 50 personas - <br>$5.000 cada 10 personas adicionales)</h3>
                    </li>
                    <li class="w3-padding-32">
                        <h3>Asesorías $50.000</h3>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Contacto -->
        <div class="w3-container" id="contact" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-blue"><b>Contacto</b></h1>
            <hr style="width:50px;border:5px solid #638ab2" class="w3-round">
            <p><b>Si quiere convertirse en cliente o solicitar información adicional <br>Déjenos sus datos y uno de
                    nuestros ejecutivos se contactará con usted a la brevedad</b></p>
            <form action="{% url 'formularioContacto' %}" id="formularioContacto" method="post">
                {% csrf_token %}
                <div class="w3-section">
                    <label>
                        <h4>Nombre</h4>
                    </label>
                    <input class="w3-input w3-border" type="text" name="contactoNombre" id="contactoNombre" placeholder="Ana Fuentes"
                        required>
                </div>
                <div class="w3-section">
                    <label>
                        <h4>Email</h4>
                    </label>
                    <input class="w3-input w3-border" type="email" name="contactoEmail" id="contactoEmail" placeholder="afuentes@email.com"
                        required>
                </div>
                <div class="w3-section">
                    <label>
                        <h4>Teléfono</h4>
                    </label>
                    <input class="w3-input w3-border" type="text" name="contactoFono" id="contactoFono" placeholder="+569XXXXXXXX" required>
                </div>
                <div class="w3-section">
                    <label>
                        <h4>Nombre Empresa</h4>
                    </label>
                    <input class="w3-input w3-border" type="text" name="contactoEmpresa" id="contactoEmpresa" placeholder="Empresa Genérica"
                        required>
                </div>
                <div class="w3-section">
                    <label>
                        <h4>Mensaje</h4>
                    </label>
                    <input class="w3-input w3-border" type="text" name="contactoMensaje" id="contactoMensaje"
                        placeholder="Quisiera ser cliente..." required>
                </div>
                <button type="submit" id="btnEnviar"
                    class="w3-button w3-block w3-padding-large w3-blue w3-margin-bottom">
                    <h4>Enviar</h4>
                </button>
            </form>
        </div>

        <!-- Ubicación -->
        <div class="w3-container" id="ubi" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-blue"><b>Ubicación</b></h1>
            <hr style="width:50px;border:5px solid #638ab2" class="w3-round">
            <div style="text-align: center;">

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.2679536538517!2d-70.58078054868832!3d-33.59835141241063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d7037854df81%3A0x893f58a1479b8f82!2sDuoc%20UC%3A%20Sede%20Puente%20Alto!5e0!3m2!1ses!2scl!4v1633131746432!5m2!1ses!2scl"
                    width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>

            </div>
        </div>

        <!-- FIN CONTENIDO -->
    </div>

    <!-- footer -->
    <!--INICIO DESPLEGABLE BOTON-->
    <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:58px;padding-right:58px">
        <p class="w3-right">© 2021 Copyright: No Más Accidentes</p>
        <h3 class="w3-center"><button onclick="document.getElementById('id02').style.display='block'"
                class="w3-bar-item w3-button w3-hover-white">Acceso Profesionales</button></h3>
        <!--INICIO DESPLEGABLE BOTTOM-->
        <div class="w3-container">
            <div id="id02" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                    <div class="w3-center"><br>
                        <span onclick="document.getElementById('id02').style.display='none'"
                            class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                        <img src="static/img/Isotipo.png" alt="Avatar" style="width:30%"
                            class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action="{% url 'LoginWS' %}" id="login" method="post">
                        <div class="w3-section">
                            {% csrf_token %}
                            <label><b>Nombre Usuario</b></label>
                            <input class="w3-input w3-border w3-margin-bottom" name="txtuser" id="txtuser"
                                required="obligatorio" placeholder="Ingrese su nombre de usuario">
                            <label><b>Contraseña</b></label>
                            <input class="w3-input w3-border" type="password" name="txtpassword" id="txtpassword"
                                required="obligatorio" placeholder="Ingrese su contraseña">
                            <button class="w3-button w3-block w3-light-blue w3-section w3-padding"
                                type="submit">Ingresar</button>
                        </div>
                    </form>
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button onclick="document.getElementById('id02').style.display='none'" type="button"
                            class="w3-button w3-light-grey">Cancelar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--fin de inicio desplegable-->
    </div>

    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }
    </script>

</body>

</html>