<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load pwa %}

{% progressive_web_app_meta %}
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Open Sans", sans-serif
    }
</style>


<body class="w3-theme-l5">

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-light-blue w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
                href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a class="w3-bar-item w3-padding-large w3-light-blue"><i class="fa fa-home w3-margin-right"></i>No Más
                Accidentes</a>
            <a href="{% url 'CERRARSESION' %}"
                class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
                onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Cerrar Sesion
            </a>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-light-blue w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="{% url 'CERRARSESION' %}" class="w3-bar-item w3-button w3-padding-large">Cerrar Sesión</a>
    </div>

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center"><b>Perfil Profesional</b></h4>
                        <p class="w3-center"><img src="/static/img/iconoPerfil.png" class="w3-circle"
                                style="height:106px;width:106px" alt="Avatar"></p>
                        <hr>
                        {% for p in datosprof%}
                        <tr>
                            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i><label
                                    class="w3-input w3-border w3-margin-bottom" name="txtuser" id="txtuser"
                                    required="obligatorio">
                                    <td>{{ p.0 }} </td>
                            </p>
                            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i><label
                                    class="w3-input w3-border w3-margin-bottom" name="txtdire" id="txtdire"
                                    required="obligatorio">
                                    <td>{{ p.1 }} </td>
                            </p>
                            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i><label
                                    class="w3-input w3-border w3-margin-bottom" name="txtnac" id="txtnac"
                                    required="obligatorio">
                                    <td>{{ p.2 }} </td>
                            </p>
                        </tr>
                        {% endfor %}
                    </div>
                </div>
                <br>


                <!-- Alert Box -->
                <div
                    class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">

                    <p><strong>ATENCIÓN</strong></p>
                    <p>
                        <br>
                        <b>Recuerde:</b>
                        <br>
                        <p style="text-align: justify">Por su seguridad, no olvide realizar el <u>cambio de contraseña</u> una vez creada su cuenta.</p>
                        <br>
                        <p style="text-align: justify;">Si encuentra alguna discordancia con la información que se muestre en la web, póngase en contacto con el administrador</p>
                        <br>
                    </p>

                </div>
                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m7">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <h3 class="w3-center"><b>Consulte su información</b></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ASESORIAS -->
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <img src="/static/img/Isotipo.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                        style="width:60px">
                    <h4><b>Mis Asesorías</b></h4>
                    <hr class="w3-clear">
                    <div class="w3-responsive" style="padding-bottom: 5%;">

                        <table class="w3-table-all">
                            <tr class="w3-centre">
                                <th>RUN Cliente</th>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Correo Cliente</th>
                                <th>Fono Cliente</th>
                                <th>Empresa</th>
                            </tr>
                            {% for p in asesoriasprof%}
                            <tr>
                                <p>
                                    <td>{{ p.0 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.1 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.2 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.3 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.4 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.5 }} </td>
                                </p>
                            </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>

                <!-- CAPACITACIÓN -->
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <img src="/static/img/Isotipo.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                        style="width:60px">
                    <h4><b>Mis Capacitaciones</b></h4>
                    <hr class="w3-clear">
                    <div class="w3-responsive" style="padding-bottom: 5%;">
                        <table class="w3-table-all">
                            <tr class="w3-centre">
                                <th>ID</th>
                                <th>RUN Cliente</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Asistentes</th>
                                <th>Empresa</th>
                                <th>Estado</th>
                            </tr>
                            {% for p in capacitacionesprf%}
                            <tr>
                                <p>
                                    <td>{{ p.0 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.1 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.2 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.3 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.4 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.5 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.6 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.7 }} </td>
                                </p>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <!-- CLIENTES -->
                <!-- <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <img src="/static/img/Isotipo.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                        style="width:60px">
                    <h4><b>Mis Clientes</b></h4>
                    <hr class="w3-clear">
                    <div class="w3-responsive" style="padding-bottom: 5%;">
                        <table class="w3-table-all">
                            <tr class="w3-centre">
                                <th>Rut Empresa</th>
                                <th>Nombre Empresa</th>
                                <th>Rubro</th>
                                <th>Rut Representante</th>
                            </tr>
                            
                        </table>
                    </div>
                </div> -->

                <!-- VISITAS -->
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <img src="/static/img/Isotipo.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                        style="width:60px">
                    <h4><b>Visitas a Terreno</b></h4>
                    <hr class="w3-clear">
                    <div class="w3-responsive" style="padding-bottom: 5%;">
                        <table class="w3-table-all">
                            <tr class="w3-centre">
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                                <th>Empresa</th>
                                <th>RUN Cliente</th>
                            </tr>
                            {% for p in visitasprof%}
                            <tr>
                                <p>
                                    <td>{{ p.0 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.1 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.2 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.3 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.4 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.5 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.6 }} </td>
                                </p>
                                <p>
                                    <td>{{ p.7 }} </td>
                                </p>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <!-- CHECK VISITAS -->
                <div class="w3-container w3-card w3-white w3-round w3-margin" style="padding-bottom: 5%;"><br>
                    <img src="/static/img/Isotipo.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                        style="width:60px">
                    <h4><b>Checklist Visitas</b></h4>
                    <hr class="w3-clear">
                    <!-- <div class="w3-section">
                        <label for="listaVisitas">
                            <h6><b>ID Visita</b></h6>
                        </label>
                        <select id="visitasid" class="w3-input w3-border">
                            <option value="0">Seleccione</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div> -->
                    <form action="{% url 'actualizarchecklistprof' %}" name="actualizarchecklistprof" method="post">
                        {% csrf_token %}
                        {% for p in checklistprof %}
                        <div class="w3-section">
                            <label for="myCheck"><b>{{ p.0 }}</b></label>
                            <input class="w3-input w3-border" type="text" name="checkComentario1" id="checkComentario1"
                                placeholder="Observaciones al ítem evaluado" required value="{{ p.1 }}"> 
                        </div>
                        <div class="w3-section">
                            <label for="myCheck"><b>{{ p.2 }}</b></label>
                            <input class="w3-input w3-border" type="text" name="checkComentario2" id="checkComentario2"
                                placeholder="Observaciones al ítem evaluado" required value="{{ p.3 }}">
                        </div>
                        <div class="w3-section">
                            <label for="myCheck"><b>{{ p.4 }}</b></label>
                            <input class="w3-input w3-border" type="text" name="checkComentario3" id="checkComentario3"
                                placeholder="Observaciones al ítem evaluado" required value="{{ p.5 }}">
                        </div>
                        <div class="w3-section">
                            <label for="myCheck"><b>{{ p.6 }}</b></label>
                            <input class="w3-input w3-border" type="text" name="checkComentarioExt1" id="checkComentarioExt1"
                                placeholder="Observaciones al ítem evaluado" required value="{{ p.7 }}">
                        </div>
                        <div class="w3-section">
                            <label for="myCheck"><b>{{ p.8 }}</b></label>
                            <input class="w3-input w3-border" type="text" name="checkComentarioExt2" id="checkComentarioExt2"
                                placeholder="Observaciones al ítem evaluado" required value="{{ p.9 }}">
                        </div>
                        <div class="w3-section">
                            <label for="myCheck"><b>{{ p.10 }}</b></label>
                            <!-- <input type="checkbox" id="myCheck" onclick="myFunction()">  -->
                            <input class="w3-input w3-border" type="text" name="checkComentarioExt3" id="checkComentarioExt3"
                                placeholder="Observaciones al ítem evaluado" required value="{{ p.11 }}">
                        </div>
                        <div class="w3-section">
                            <button type="submit" class="w3-button w3-block w3-padding-6 w3-blue w3-margin-bottom">
                                <h5>Generar Reporte de Visita</h5>
                            </button>
                        </div>
                        {% endfor %}
                    </form>
                    

                    <script>
                        function myFunction() {
                            var checkBox = document.getElementById("myCheck");
                            var text = document.getElementById("text");
                            if (checkBox.checked == true) {
                                text.style.display = "block";
                            } else {
                                text.style.display = "none";
                            }
                        }
                    </script>
                </div>

                <!-- End Middle Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-col m2">
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Actividades Cercanas:</p>
                        <img src="/static/img/monitoreo.jpg" style="width:100%;">
                        <p><strong>Supervisión</strong></p>
                        <p>Viernes 15:00</p>
                    </div>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
                    <p>Email Corporativo</p>
                    <p><i class="fa fa-envelope w3-xxlarge"></i></p>
                    <a
                        href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjWncbejPPzAhVXlJUCHYhYCQ0QFnoECA4QAQ&url=https%3A%2F%2Fwww.google.com%2Fgmail%2F&usg=AOvVaw3mZ_qbD_gQyp_sqkjrwStn">Ir
                        a Gmail</a>
                </div>
                <br>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <br>

    <!-- Footer -->
    <footer>
        <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:58px;padding-right:58px">
            <p class="w3-right">© 2021 Copyright: No Más Accidentes</p>
        </div>
    </footer>

    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

</body>

</html>